<h1>Thêm sản phẩm</h1>
<form action="/sanpham/add" method="post">
<input type="text" name="tenSP" placeholder="nhập tên sản phẩm">
<input type="text" name="giaSP" placeholder="nhập giá sản phẩm">
<button type="submit">Thêm</button>
</form>
