<h1>Sửa sản phẩm</h1>
<form action="/sanpham/thay-doi-thong-tin" method="post">
<input type="text" name="idSP" value="{{chitiet.id}}" hidden/>
<input type="text" name="tenSP" value="{{chitiet.ten}}" placeholder="nhập tên sản phẩm">
<input type="text" name="giaSP" value="{{chitiet.gia}}" placeholder="nhập giá sản phẩm">
<button type="submit">Sửa</button>
</form>
