<!-- Footer Website -->
<!-- Footer Website -->
<footer class="footer-2">
   <div class="body-boxcenter">
      <div class="main-footer">
         <div class="content-footer content-footer-2">
            <ul class="main-ul">
               <li class="main-li">
                  <div class="section-title">
                     <h2>Contact us</h2>
                  </div>
                  <div class="container">
                     <ul class="container-p">
                        <li>Address:</li>
                        <li>Cell-phone:</li>
                        <li>Email:</li>
                     </ul>
                     <ul class="container-span">
                        <li>86/52, TCH 36 street, District 12, Ho Chi Minh city</li>
                        <li>0375 149 202</li>
                        <li>minhtrung010321@gmail.com</li>
                     </ul>
                  </div>
               </li>

               <li class="main-li">
                  <div class="section-title">
                     <h2>Accounts</h2>
                  </div>
                  <ul>
                     <li><a href="#">My Account</a></li>
                     <li><a href="#">My Wishlist</a></li>
                     <li><a href="#">My Cart</a></li>
                     <li><a href="#">Sign In</a></li>
                     <li><a href="#">Check Out</a></li>
                  </ul>
               </li>

               <li class="main-li">
                  <div class="section-title">
                     <h2>Shipping</h2>
                  </div>
                  <ul>
                     <li><a href="#">New Product</a></li>
                     <li><a href="#">Top Seller</a></li>
                     <li><a href="#">Manufactires</a></li>
                     <li><a href="#">Suppliers</a></li>
                     <li><a href="#">Specials</a></li>
                  </ul>
               </li>

               <li class="main-li">
                  <div class="section-title">
                     <h2>Privacy & terms</h2>
                  </div>
                  <ul>
                     <li><a href="#">Payment Policy</a></li>
                     <li><a href="#">Pricy Policy</a></li>
                     <li><a href="#">Return Policy</a></li>
                     <li><a href="#">Shipping Policy</a></li>
                     <li><a href="#">Terms & Conditions</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Coppyright Website -->
<div class="coppyright coppyright-2">
   <div class="body-boxcenter">
      <div class="container-coppyright">
         <p>© CodeCarnival 2024. All Rights Reserved</p>
         <div class="logo-payment">
            <img src="/public/img/other_img/PayPal_logo.png" alt="">
            <img src="/public/img/other_img/mastercard_logo.png" alt="">
            <img src="/public/img/other_img/VISA_logo.png" alt="">
            <img src="/public/img/other_img/Tabby_logo.png" alt="">
         </div>
      </div>
   </div>
</div>

<!-- Link Jquery cố định header ở trên màn hình -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!-- Link Jquery code Slidebar Menu -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Link code Javasript -->
<script src="/public/js/toast.js"></script>
<script src="/public/js/dec&incInDetail.js"></script>
<script src="/public/js/styles.js"></script>
</body>
</html>